* {
    margin:  0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}
body {
    background: #333333;;
}
body a {
    opacity: .7;
}
body a:hover {
    opacity: 1;
    transition: opacity .1s ease;
}

/* container */

.container {
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
}
.container._perf {
    max-width: 100%;
}

.header {
    position: relative;
    background: url(img/header/01.png) no-repeat center/ cover;
}
.header__burger {
    display: none;
}
/* TOP MENU */
.top-menu {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
}
.top-menu-adaptive {
    display: flex;
    justify-content: space-between;
    list-style: none;    
}
.top-menu-adaptive li {
    margin-right: 40px;
}
.top-menu-adaptive__link {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.tel-number {
    border-bottom: 2px solid #D1A954;
}
.header-inner__phone, .adaptive-icons {
    display: none;
}


/* HEADER content left side */

h1 {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.header-inner__content {
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.history__text p {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    max-width: 525px;
    width: 100%;
}
.button {
    background-color: #D1A954;
    width: 160px;
    height: 50px;
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

/* HEADER content right-side */

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 20px;
}
.header-content__img {
    margin-bottom: 55px;
    position: relative;
}
.bot-img {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: 100%;
    height: auto;
}
.top-img  {
    position: relative;
    z-index: 5;
}
.header-slide {
    display: flex;
    justify-content: space-between;

    margin-right: -20px;
}
.header-slide__box {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box__img img {
    display: block;
}
.box__text {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
}

/* About Theatre */

.about-theatre-inner {
    padding: 150px 0;
}
.gold-text {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;
}
h2 {
    margin-bottom: 100px;

    font-family: "Open Sans Condensed";
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.theatre-box {
    display: flex;
    justify-content: space-between;
}
.about-title {
    margin-bottom: 40px;

    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.about__text {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}
.about-text p {
    max-width: 420px;
}
.about-sit-places__icon {
    margin-bottom: 10px;
}
.about-sit-places__text {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.about-sit-places__text._st {
    margin-bottom: 15px;
}


/* slider */

.container._perfomance {
    max-width: 100%;
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.perfomance {
    margin-bottom: 150px;
}
.slides {
    display: flex;
    padding-left: 150px;
}
.slides img {
    display: block;
    max-width: 440px;
    height: auto;
    width: 100%;
}
.img-box {
    position: relative;
}
.look {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    transform: translate3d(-50%, -50%, 0);
    
}
.look img {
    max-width: 100px;
    height: auto;
    width: 100%;
    display: block;
}
.look:hover {
    display: block;
    opacity: .8;
    transition: opacity .2s linear;
}
.text-preview {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.party {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 20px 0 0 20px;
}
.month {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform-origin: left;
    transform: rotate(-90deg) translate(12px, 22px);
}

/* AWARDS */

.awards {
    margin-bottom: 150px;
}
.awards-inner {
    width: 100%;
    max-height: 550px;
    background: url(img/body/08.png) no-repeat;
    display: flex;
    justify-content: space-evenly;
    padding: 125px 0;
}
.awards-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.awards-years {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;
}
.stars {
    max-width: 230px;
    margin-bottom: 25px;
    
    display: flex;
    justify-content: space-between;
}
.stars-text {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 36px;
}

/* DONATE */

.donate {
    margin-bottom: 120px;
}
.donate-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.donate-icon {
    margin: 0 20px;
}
    /* FORM */
.contacts-media {
    display: none;
}
.partners{
    margin-bottom: 80px;
}
.contacts-box {
    display: flex;
    justify-content: space-between;
}
.contacts {
    display: flex;
}
.contacts ul {
    list-style: none; 
    font-family: "Open Sans Condensed";
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase; 
}
.forms-input {
    display: flex;
    flex-wrap: wrap;
}
.forms input {
    width: 180px;
    height: 35px;
    background: #444444;
    border: 1px solid #616161;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 150%;
    color: #989898;
    padding: 10px;
}
.forms textarea {
    min-width: 310px;
    height: 100px;
    background: #444444;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 150%;
    color: #989898;
    padding: 10px;
    resize: none;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    margin-right: 30px;
}
.forms {
    display: flex;
    justify-content: space-between;
}
.area {
    margin: 0;
}
.forms__text {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
    color: #989898;
    margin: 0px 180px 0 0;

    max-width: 390px;
    width: 100%;
    text-align: left;
}
.feedback {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.feedback .button {
    border: 0;
    font-family: "Open Sans Condensed";
    cursor: pointer;
}

/* FOOTER */

.footer__text {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #565656;
    padding: 30px 0;
}
.copyright, .maked {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
}
@media (max-width: 1054px) {
    .contacts {
        flex-basis: 20%;
    }
}
@media (max-width: 992px) {
    .container {
        width: 100%;
        max-width: 722px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .container._award{
        max-width: 100%;
        width: 100%;
    }
    /* slider */
    .slider-body    {
        position: relative;
    }
    .slider {
        max-width: 440px;
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }
    .navigation {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .bar {
        width: 30px;
        height: 8px;
        cursor: pointer;
        background-color: #FFF;
        opacity: .7;
        border-radius: 40%;
        margin: 6px;
        transition: all .3s ease;
    }
    .bar:hover {
        opacity: .9;
        transform: scale(1.2);
        overflow: hidden;
    }
    input[name="r"] {
        position: absolute;
        visibility: hidden;
    }
    .slides {
        width: 400%;
        height: 100%;
        display: flex;
        padding: 0;
    }
    .slide  {
        width: 25%;
        transition: all .3s ease;
    }
    .slide img  {
        width: 100%;
        height: 100%;
        transition: all .3s linear;
        object-fit: cover;
    }
    #r1:checked ~ .s1 {
        margin-right: 0;
    }
    #r2:checked ~ .s1 {
        margin-right: -25%;
    }
    #r3:checked ~ .s1 {
        margin-right: -50%;
    }
    #r4:checked ~ .s1 {
        margin-right: -75%;
    }
    /* slider end */
    .top-menu {
        flex-wrap: wrap;
    }
    .top-menu-adaptive {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .top-menu-adaptive li {
        margin-right: 20px;
    }
    .adaptive-icons, .header-content, .tel-number {
        display: none;
    }
    .header-inner__phone {
        display: flex;
        justify-content: center;

        margin: 50px auto 0;
    }
    .header-inner__phone-link {
        display: block;
        font-family: "Open Sans Condensed";
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border-bottom: 2px solid #D1A954;
    }
    .theatre-box-img {
        display: none;
    }
    .img-box img {
        display: block;
        max-width: 440px;
        height: auto;
        width: auto;
    }
    .awards-inner   {
        transform: translate(-10px,0px);
        background-size: 120%;
        background-position: left center;
    }
    .donate-icons {
        max-height: 265px;
        overflow: hidden;
    }
    .donate-icon {
        margin: 15px 10px;
    }
    .donate-icon img {
        width: 100%;
        height: auto;
    }
    .contacts {
        display: none;
    }
    .forms {
        margin: 0;
    }
    .forms textarea {
        min-width: 270px;
    }
   .feedback    {
       justify-content: space-between;
       margin: 40px 0 80px;
   }
   .forms__text {
       margin: 0;
   }
   .contacts-media {
       height: 60px;
       display: flex;
       justify-content: space-between;
   }
   .contacts-media {
    font-family: "Open Sans Condensed";
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
   }
   .contacts-media__phone, .contacts-media__adress {
       display: flex;
       justify-content: space-between;
       flex-direction: column;
   }
   .contacts-media__adress {
    text-align: right;
   }
}
@media(max-width:768px) {
    body.lock {
        overflow: hidden;
    }
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0px 20px;
    }
    h2, .donate, .awards, .perfomance {
        margin-bottom: 60px;
    }
    .header-inner {
        padding: 50px 0 0 0;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 33px;
        height: 20px;
        z-index: 11;
    }
    .header__burger::after, .header__burger::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .header__burger::after {
        top: 0;
    }
    .header__burger::before {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .top-menu-adaptive {
       display: block;
       margin-bottom: 90px;
    }
    .top-menu-adaptive li {
        list-style: none;
        text-align: left;
        margin: 0 0px 35px 40px;
    }
    .top-menu {
        background: #333333;
        left: 0;
        top: -100%;
        position: fixed;
        width: 300px;
        height: 800px;
        transition: all 0.3s ease 0s;
        
        display: none;
    }
    .top-menu.active {
        top: 0;
        display: block;
        padding: 55px 0;
    }
    .header__burger.active {
        transform: translate(200px, 0px);
        transition: transform .3s ease;
    }
    .header__burger.active::before {
        transform: rotate(45deg);
        top: 13px;
    }
    .header__burger.active::after {
        transform: rotate(-45deg);
        top: 13px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .head__name {
        transform: translate(0px, -10px);
    }
    .header-inner__phone {
        display: flex;
        justify-content: flex-end;

        margin: -20px 0 0 0;
    }
    .adaptive-icons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 80px;
    }
    .adaptive-icons img {
        width: 100%;
    }
    .adaptive-icon {
        flex-shrink: 0;
        transition: transform .2s ease;
    }
    .adaptive-icon:first-child {
        margin: 0 60px 50px 0;
    }
    .adaptive-icon:hover {
        transform: scale(1.2);
        overflow: hidden;
        transition: transform .2s ease;
    }
    .about-theatre-inner    {
        padding: 60px 0;
    }
    .about-title {
        font-size: 18px;    
    }
    .awards-inner {
        padding: 0;
    }
    .awards-years {
        font-size: 48px;
        letter-spacing: 0;
    }
    .stars-text {
        font-size: 22px;
    }
    .form {
        margin: 0 15px 0 0;
    }
    .forms {
        flex-basis: 100%;
    }
    .forms input {
        width: 150px;
    }
    .forms textarea {
        width: 150px;
    }
    .forms-input {
        flex-basis: 67%;
    }
    .area {
        flex-basis: 40%;
    }
}
@media (max-width:640px) {
    h1 {
        font-size: 48px;
        letter-spacing: 0;
    }
    h2 {
        font-size: 32px;
        letter-spacing: 0;
    }
    h2, .donate, .awards, .perfomance {
        margin-bottom: 40px;
    }
    .theatre-box {
        flex-direction: column;
    }
    .about-text p {
        max-width: 100%;
        text-align: center;
    }
    .about-title {
        text-align: center;
    }
    .about-text {
        margin-bottom: 30px;
    }
    .about-sit-places {
        display: flex;
        justify-content: space-evenly;
    }
    .feedback {
        flex-direction: column;  
    }
    .feedback .button {
        order: 1;
        margin: 0 0 30px 0;
    }
    .form  {
        margin: 0;
    }
    .forms__text {
        order: 2;
        max-width: 435px;
        width: 100%;
        text-align: center;
    }
    .forms-input {
        justify-content: center;
        margin-bottom: 30px;
    }
    .forms textarea {
        width: 100%;
    }
    .area {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }
    .forms {
        flex-direction: column;
    }
    .forms input {
        width: 100%;
    }
    .form:first-child {
        margin: 0 14px 0 0;
    }
    .form {
        max-width: 193px;
        width: 100%;
    }
@media (max-width:510px) {
    .header-inner__content {
        padding: 60px 0;
    }
    .history__text p {
        font-size: 12px;
        max-width: 210px;
    }
    .stars {
        margin-bottom: 5px;
        transform: scale(0.4);
    }
    .awards-years {
        font-size: 30px;
        letter-spacing: 0;
    }
    .stars-text {
        font-size: 14px;
        text-align: center;
    }
    .about-sit-places__text {
        font-size: 14px;
    }
    .forms__text {
        font-size: 10px;
    }
    .forms-input {
        margin: 0;
    }
    .forms input {
        margin: 0 0 15px 0;
        flex-direction: column;
    }
    .contacts-media {
        font-size: 10px;
        letter-spacing: 0;
    }
    .copyright {
        max-width: 106px;
        font-size: 10px;
    }
    .maked {
        max-width: 60px;
        font-size: 10px;
        text-align: right;
    }
    
}
@media (max-width:440px) {
    h1 {
        font-size: 42px;
    }
    h2, .donate, .awards, .perfomance, .partners {
        margin-bottom: 30px;
    }
    .about-theatre-inner{
        padding: 30px 0;
    }  
    .form {
        max-width: 270px;
        width: 100%;
    }
    .form:first-child {
        margin: 0;
    }
    .area {
        max-width: 270px;
    }
}
